/* ----------------- Header section ----------------- */
header .nav-link{
    cursor: pointer;
}
/* ----------------- Main section ----------------- */
/*main .top-iamge{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 5vw);
    grid-gap: 15px; 
}*/
main .gallery-top {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 32.5vh);
    grid-gap: 0.5%;
    margin-bottom: 0.4%;
}
main img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 500ms;
}
main .gallery-top .g-img1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}
main .text{
    color:black;
    text-align: center;
    height: 0px;
    font-size: 0rem;
    transition: 500ms;
}
main .text-categories{
    cursor: pointer;
    padding-top: 1%;
    padding-bottom: 1%;
}
main .text-categories:not(last-child){
    margin-right: 6%;
}
main .text-categories:hover{
    color: rgb(0,113, 188);
}
main .frd-categorias{
    overflow: hidden;
    position: absolute;
}
main .frd-categorias img{
    border-radius: 0.5%;
}
.tabla{
    border: 1px gainsboro solid;
}
.tabla .fila{
    margin: 2% 2% 4% 2%;
    justify-content: space-between !important;
    display: flex;
    font-size: 1.1rem;
}
.tabla .fila:not(:last-child){
    margin-top: 5%;
    border-bottom: 0.5px gainsboro solid;
}.tabla .fila .info-der{
    color:gray;
}
.contenido-izquierda, .contenido-derecha{
    width: 50%;
    float: left;
}
.contenido-izquierda .content, .contenido-derecha .content{
    width: 80%;
    display: block;
    margin: auto;
}
/* ----------------- Index section ----------------- */
main .main-index {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 33.1vh);
    grid-gap: 1% 0.5%;
    transition: 500ms;
    position: absolute;
}
main .main-index .g-img3 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}
main .main-index .g-img6 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}
/*main .main-body .title{
    position: absolute;
    color:black;
    display: none;
    top:10%;
    margin-left:5%;
    font-size:2rem;
    transition: 500ms;
}*/
main .main-gallery .active{
    z-index: 1;
    opacity: 1;
}
main .main-gallery .hide{
    opacity: 0;
    transition: 500ms;
}
/* Efecto de las imagenes en la galeria*/
main .efecto{
    position: relative;
}
main .efecto .efecto-texto{
    position: absolute;
    text-align: center;
    top: 0;
    color:black;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 500ms;
}
main .efecto .efecto-texto:hover{
    opacity: 0.8;
}
main .efecto .efecto-texto .cuadro{
    background-color: white;
    width: 30%;
    margin: auto;
    margin-top: 50%;
    border-radius: 2%;
    display: block;
}
main .efecto .efecto-texto .cuadro h3{
    margin-bottom: 1%;
}
main .efecto .efecto-texto .cuadro h4{
    margin: 0;
}
main .main-gallery .frd-texto{
    color: black;
    padding: 0.5% 2% 2% 2%;
    border: 2px solid lightgray;
}
#qs, #qo{
    margin: 0%;
}
/* --------------- Proyectos section --------------- */
.container-proyectos{
    color: black;
}
.container-proyectos h1{
    border-left: 2px rgb(0,113, 188) solid;
    padding: 2% 0% 2% 1%;
    margin: 0;
}
.container-proyectos .container{
    padding: 0% 0% 0% 0%;
    width: 100%;
}
.container-proyectos .descripcion{
    margin: 2.5% 0% 5% 0%;
    float:left;
}
.container-proyectos .descripcion h2{
    margin-bottom: 5%;
}
/* ------------------------------------------------- */