/* ----------------- Header section ----------------- */
header .nav-link{
    cursor: pointer;
}
/* ----------------- Main section ----------------- */
/*main .top-iamge{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 5vw);
    grid-gap: 15px; 
}*/
main .gallery-top {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 32.5vh);
    grid-gap: 0.5%;
    margin-bottom: 0.4%;
}
main img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 500ms;
}
main .gallery-top .g-img1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}
main .text{
    color:black;
    text-align: center;
    height: 0px;
    font-size: 0rem;
    transition: 500ms;
}
main .text-categories{
    cursor: pointer;
    padding-top: 1%;
    padding-bottom: 1%;
}
main .text-categories:not(last-child){
    margin-right: 6%;
}
/* ----------------- Index section ----------------- */
main .main-index {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 33.1vh);
    grid-gap: 1% 0.5%;
    transition: 500ms;
    position: absolute;
}
main .main-index .g-img3 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}
main .main-index .g-img6 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}
main .main-body .title{
    position: absolute;
    color:black;
    display: none;
    top:10%;
    margin-left:5%;
    font-size:2rem;
    transition: 500ms;
}
main .main-gallery .active{
    z-index: 1;
}
/* ------------------------------------------------- */