.one-third img{
  height: 350px;
}
.navBar{
  text-align: center;
  margin: 2% 5% 2% 5%;
  display: grid;
  grid-template-columns: 40% 20% 40% ;
  grid-template-rows: auto;
  grid-template-areas: 
    "left logo rigth"
}
.navBar a{
  font-size: 0.48em;
}
.navBar-left{
  grid-area: left;
  text-align: right;
}
.navBar-rigth{
  grid-area: rigth;
  text-align: left;
}
.navBar-left, .navBar-rigth{
  /*margin-top:5%;*/
  font-size: 3em;
}
.row{
  margin-bottom:2%;
}
