/* ------------------- Global section -------------------*/
h1{
  font-size: 3rem;
}
/* -------------------- Head section --------------------*/
.navBar {
  position: fixed;
  top:0;
  width: 100%;
  background-color: rgba(255, 255, 255,0.95);
  z-index: 2;
}
.content{
  margin-top: 28.5%;
  min-height: 80vh;
}
.content{
  height: 100%;
}
/*Ignores the first link (which is Home) in the div and       applies 'display = none' to everything else.   Basically hiding everything but Home*/
.navBar a:not(.img-logo){
  display: none;
}
/*.navBar .pages a{
  padding-left: 2%;
}*/
.navBar .logo{
  width: 100%;
}
.navBar img{
  width: 20vw;
  padding: 3% 0% 3% 3%;
}
/*Brings the menu icon into view and floats it to the right*/
.navBar a.icon{
  display: block; float: right;
  padding-top: 1%;
}
/*The navBar class will be changed to 'navBar responsive' using JS. This chunk of CSS makes the menu icon stay where it is by making the position absolute within it's parent 'right top corner'. Without this, the icon will get kicked around when the items are collapsed and expanded*/
/*.navBar.responsive a:not(.logo){
  opacity: 0.8;
  background-color: white;
}*/
.navBar.responsive a.icon {
  position: absolute;
  right: 0;
  top: 0;
}
/*Removes the originally set float and brings them to view*/
.navBar.responsive a {
  float: none;
  display: block;
  text-align: left;
}
.navBar a:hover{
  background-color: unset;
}
.navBar .five, .navBar .two{
  width: auto;
}
.navBar .pages .script{
  display:none;
}
.navBar .pages a{
  padding-bottom: 5%;
}
.navBar .content-right{
  width: 90%;
  margin: auto;
}
/* -----------------------------------------------*/
.img-row img{
  padding: 0% 1% 2% 1%;
  width: 95%;
}
.img-row img::after{
  content: "";
  display: block;
  padding-bottom: 100%;
}
.logo2 img{
  width: 20vw;
}
/* -----------------Servicios section------------------*/
.leftAnimated{
  /*(X,Y)*/
  -webkit-transform: translate(-100vw,0px);
  -moz-transform: translate(-100vw,0px);
  -o-transform: translate(-100vw,0px);
  -ms-transform: translate(-100vw,0px);
  transform: translate(-100vw,0px);
}
.rightAnimated{
  /*(X,Y)*/
  -webkit-transform: translate(100vw,0px);
  -moz-transform: translate(100vw,0px);
  -o-transform: translate(100vw,0px);
  -ms-transform: translate(100vw,0px);
  transform: translate(100vw,0px);
}
.effect{
  width: 90%;
  margin:auto;
  display: block;
}
.right-phase .img-phase{
  margin-bottom: 5%;
}
/* -----------------Proyectos section------------------*/
.cat-principal{
  float: left;
  width: 100%;
}
.cat-principal:not(:last-child){
  padding-bottom: 1%;
}
.sub-categorias{
  margin-bottom: 0px;
  margin-top: 3%;
}
.sub-categorias li{
  float: left;
}
.sub-categorias li:not(:last-child){
  margin-right: 2%;
  margin-bottom: 0%;
}
.collapse{
  display: none;
}
.expanded{
  display: block;
}
.catalogo{
  float:left;
  padding-top: 10%;
}
.catalogo .scroll{
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
}
.catalogo .scroll img{
  width: 20%;
  border: 1px solid #757479;
}
.catalogo .image-view{
  width: 100%;
}
.description-text .type{
  float: left;
}
.description-text .type-text{
  margin-left: 40%;
  display: block;
}
.proyectos .content-right{
  width: 90%;
  margin: auto;
}
.characteristic-project li{
  margin-bottom: 0px;
}
/* ------------------- Equipo section ------------------- */
.team-img{
  display: none;
}
.team h1{
  padding-bottom: 2%;
}
.team h2{
  font-size: 2rem;
  padding-bottom: 0%;
  margin-bottom: 0%;
}
.team h3{
  font-size: 1.5rem;
  padding-bottom: 0%;
  margin-bottom: 3%;
}
.team .carrer{
  padding-top: 5%;
}
.team .head{
  margin-bottom: 3%;
}
/* ------------------ Contacto section ------------------ */
.panel-heading{
  width: 90%;
  margin: auto;
}
/* ------------------- footer section ------------------- */
.footer i{
  padding: 5% 0.5% 5% 0.5%;
  font-size: 4rem;
}