/* -----------------------Gobal section------------------- */
@font-face{
  font-family: 'MyVerdana';
  /* Safari, Android, iOS */
  /*src: url('/fonts/verdana.ttf')  format('truetype');*/
  src: url('/fonts/verdana.eot?#iefix') format('embedded-opentype'), 
   url('/fonts/verdana.woff') format('woff'), 
   url('/fonts/verdana.ttf')  format('truetype'),
   url('/fonts/verdana.svg#svgFontName') format('svg');
}
body{
  font-family: 'MyVerdana', Verdana, Geneva, Tahoma, sans-serif;
  height: 100%;
  text-rendering: optimizeLegibility;
}
a{
  text-decoration: none;
  color:black;
}
a:hover{
  text-decoration: none;
  color:black;
}
.pages a:hover, .panel-heading a:hover{
  /*background-color: white;*/
  /*color: #8a8506;*/
  color: #757479;
}
ul{
  list-style-type: none;
}
header{
  background-color: white;
}
.content{
  width: 100%;
  background-color: white;
}
/* -----------------------Head section-------------------- */
.navBar{
  /*background-color: #009cde;*/
  overflow: hidden;
}
/*Floats each item to the left with padding of 14 & 16 px.
Removes the underline with text decoration = none.*/
.navBar .pages a{
  text-decoration: none;
  /*font-size: 18px;*/
}
/*Background color change during hover state*/
.navBar a:hover{
  /*background-color: white;*/
  /*color: #8a8506;*/
  color: #757479;
}
/*Hides the menu Icon which will show when the nav needs to be responsive*/
.navBar .icon{
  display: none;
  font-size: 2em;
  margin: 4% 5%;
}
.navBar .logo{
  float: left;
}
.pages .actived, .actived{
  /*color:#8a8506;*/
  color: #757479;
}
/* -----------------------Proyecto section-------------------- */
.catalogo .scroll{
  width: 20%;
  height: inherit;  
}
.catalogo img{
  max-width: 100%;
}
.catalogo .scroll, .catalogo .image-view{
  float:left;
}
.catalogo .scroll{
  width: 20%;
}
.catalogo .image-view{
  width: 80%;
  height: inherit;
}
.catalogo .image-view img{
  height: 100%;
  width: 100%;
}
.collapse a, .collapse a:hover{
  color:white;
}
.sub-categorias{
  transition: 120ms;
}
.expanded a{
  color:black;
}
/* ---------------------- Servicio section ------------------- */
.phase{
  overflow: hidden;
}
.phase .effect{
  -webkit-transition: 1.5s ease-in-out;
  -moz-transition: 1.5s ease-in-out;
  -o-transition: 1.5s ease-in-out;
  transition: 1.5s ease-in-out;
}
/* ---------------------- Contacto section ------------------- */
#contacto, .info{
  margin-top: 10%;
}
#contacto h2{
  margin-bottom: 2%;
}
#contacto .six.columns{
  width: 49%;
}
/* ----------------------- Footer section -------------------- */
.footer{
  height: 5vh;
  left:0;
  bottom:0;
  width: 100%;
  background-color: white;
  text-align: center;
  padding: 0.7% 0% 0.7% 0%;
}
.footer i{
  color: #757479;
  font-size: 2em;
  margin: 0 0.5% 0 0.5%
}
/* ----------------------------------------------------------- */